/*
.btn-booking {
    -fx-border-radius: 5;
    -fx-background-color: #006885;
    -fx-text-fill: #fff;
}

.btn-booking:hover{
    -fx-text-fill: #006885;
    -fx-background-color: #fff;
    -fx-border-radius: 5;
    -fx-border-color: #006885;
}

.btn-trailer {
    -fx-background-color: #fff;
    -fx-text-fill: #006885;
    -fx-border-radius: 5;
    -fx-border-color: #006885;
}*/
